body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-image:linear-gradient(145deg, rgb(125, 212, 212), rgb(191, 73, 73), rgb(48, 152, 196));
}

button{
    color: white;
    background-color: rgb(46, 44, 44);
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
}

button:hover{
    background-color: rgb(38, 34, 34);
}


button:active{
    background-color: rgb(72, 68, 68);
}

#container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    gap: 10px;
}

#calculator{
    width: 500px;
    border-radius: 25px;
    overflow: hidden;
    background-color: rgb(224, 221, 221);
}

#text{
    width: 100vw;
    color: white;
    background-color: black;
    text-align: left;
    border:none;
    padding: 25px;
    font-size: 3rem;
}

.operation{
    background-color: orange;
}

.operation:hover{
    background-color: orange;
}

.operation:active{
    background-color: rgb(212, 146, 24);
}